body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-size: 16px;
    background-color: #fff;
    line-height: 1.5;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
    cursor: pointer;
}
 
.section.section-our-team,
.portfolio-section,
.footer, 
.backdrop {
    display: none;
}

/*Common*/

.container { 
  max-width: 320px; 
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container { 
    max-width: 768px; 
    }
}

@media screen and (min-width: 1158px) {
    .container { 
    max-width: 1158px; 
    padding: 0 15px;
    }
}

/*Header*/

.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0 2px 1px rgba(46,47,66,.08),
                0 1px 1px rgba(46,47,66,.16),
                0 1px 6px rgba(46,47,66,.08);
}

.header .container {
    display: flex;
    align-items: center;
}

.nav-list,
.address-list {
    display: none;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: #2E2F42;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    padding: 16px 0;
    display: block;
}

.logo-accent {
    color: #4D5AE5;
}

.btn-menu {
    margin-left: auto;
    padding: 0;
    border: none;
    background-color: transparent;
}

.icon-menu {
    display: block;
}

@media screen and (min-width: 768px) {
    .btn-menu {
    display: none;
    }

    .header .container {
        display: flex;
        align-items: center;
    }

    .header-logo {
        padding: 24px;
        margin-right: 120px;
    }

    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
        list-style: none;
        font-size: 16px;
    }

    .nav-link {
        display: inline-block;
        position: relative;
        padding: 24px 0;
        color: #2E2F42;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4,0,0.2,1);
    }

    .nav-link.current {
        color: #404BBF;
    }

    .nav-link.current::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        background-color: #404BBF;
        border-radius: 2px;
    }

    .nav-link:hover,
    .nav-link:focus {
        color: #404bbf;
    }


    .address {
        margin-left: auto;
        font-style: normal;
        display: flex;
    }

    .address-list {
        display: flex;
        list-style: none;
        flex-direction: column;
        gap: 12px;
    }

    .nav-link,
    .logo,
    .mail,
    .tel {
    text-decoration: none;
    }

    .mail, 
    .tel {
        display: block;
        font-size: 12px;
        color: #434455;
        line-height: 1.17;
        letter-spacing: 0.04em;
        transition: color 250ms cubic-bezier(0.4,0,0.2,1);
    }

    .mail:hover,
    .mail:focus,
    .tel:hover,
    .tel:focus {
        color: #404BBF;
    }
}

    @media screen and (min-width: 1158px) {
        .header-logo {
        margin-right: 76px;
    }

    .address-list {
        align-items: center;
        flex-direction: row;
        gap: 40px;
    }

    .mail, 
    .tel {
        padding: 24px 0;
        font-size: 16px;
        color: #434455;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4,0,0.2,1);

    }
    }

    /*Mobile menu*/
    .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
                    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mobile-menu.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .mobile-menu-container {
        position: relative;
        padding-top: 72px;
        padding-bottom: 40px;

        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .mobile-menu-close {
        position: absolute;
        top: 24px;
        right: 24px;
    }

    .mobile-menu-nav {
        margin-bottom: auto;
    }

     @media screen and (min-width: 768px) {
        .mobile-menu {
            display: none;
        }
    }

    /* Hero-section */

    .section-main {
        background-color: #2E2F42;
        padding: 72px 0px;
        background-repeat: no-repeat;
        background-position: center, center;
        background-size: cover;
        background-origin: padding-box;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-background.jpg);
        margin: 0 auto;
        max-width: 320px;
        height: 432px;
    }

    .section-main .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .title {
        color: #fff;
        font-size: 36px;
        font-weight: 700;
        text-align: center;
        line-height: 1.11;
        letter-spacing: 0.02em;
        margin-bottom: 72px;
        max-width: 216px;
    }

    .button {
        background-color: #4D5AE5;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        padding: 16px 32px;
        border: none;
        border-radius: 4px;
        transition: background-color 250ms cubic-bezier(0.4,0,0.2,1);
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    }

    .button:hover,
    .button:focus {
        background-color: #404BBF;
    }

    @media screen and (min-width: 768px) {
        .section-main {
        max-width: 768px;
        height: 436px;
        padding: 112px 0;
    }

        .title {
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        margin-bottom: 36px;
        max-width: 496px;
        }
    }

    @media screen and (min-width: 1158px) {
        .section-main {
        max-width: 1440px;
        height: 600px;
        padding: 188px 0;
        }
    }

    /* Features section */
    .features-section {
    padding: 96px 0;
    }

    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0, 0, 0, 0);
        overflow: hidden;
    }

    .features-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
    }

    .features-icon-container {
        display: none;
    }

    .features-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
    text-align: center;
    }

    .features-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    }

    @media screen and (min-width: 768px) {
       .features-list {
        flex-wrap: wrap;
        flex-direction: row;
        gap: 24px;
        } 

        .features-list-item {
        flex-basis: calc((100% - 24px) / 2);
        }

        .features-title {
            text-align: left;
        }
    }

     @media screen and (min-width: 1158px) {
        .features-section {
            padding: 120px 0;
        }

        .features-list {
           flex-wrap: nowrap; 
           gap: 24px;
        }

        .features-list-item {
        flex-basis: calc((100% - 72px) / 4);
        }

        .features-icon-container {
            width:264px;
            height:112px;
            background:#F4F4FD;
            border:1px solid #8E8F99;
            border-radius:4px;
            display:flex;
            align-items:center;
            justify-content:center;
            margin-bottom:8px;
        }

        .features-title {
            font-size: 20px;
            font-weight: 500;
            line-height: 1.2;
        }

        .features-text {
            font-weight: 400;
        }
     }